<form (submit)="createProduct(productName)">
  <fieldset>
    <div class="form-group">
      <label>Name</label>
      <input [(ngModel)]="productName" type="text" placeholder="Name" id="productName" class="form-control" name="productName">
      <label>Price</label>
      <input [(ngModel)]="productPrice" type="text" placeholder="Price" id="productPrice" class="form-control" name="productPrice">
      <label>Type</label>
      <input [(ngModel)]="productType" type="text" placeholder="Type" id="productType" class="form-control" name="productType">
      <label>Description</label>
      <input [(ngModel)]="productDesc" type="text" placeholder="Description" id="productDesc" class="form-control" name="productDesc">
    </div>
    <button (click)="addProduct(productName, productPrice, productType, productDesc)" type="submit" class="btn btn-primary">Add Product</button>
  </fieldset>
</form>