


<div class="container" style="padding: 20px;">
  <div class="card border-primary mb-3" style="max-width: 100em;">
    <div class="card-header">Search Field</div>
    <div class="card-body">
      <form>
        <label style="margin: 10px">Search</label>
        <input [(ngModel)]="search_text" type="text" placeholder="Search" id="search_text" class="form-control" name="search_text" style="margin: 10px">
        <fieldset>
          <button (click)="searchProduct(search_text)" type="submit" class="btn btn-danger" style="margin: 10px">Search</button>
        </fieldset>
      </form>
    </div>
  </div>
</div>


<div *ngFor="let product of products">
  <div class="container" style="padding: 20px;">
    <div class="card border-primary mb-3" style="max-width: 100em;">
      <div class="card-header">{{product.name}}</div>
      <div class="card-body">
        <form>
          <p style="margin: 10px">Price: ${{product.price}}</p>
          <p style="margin: 10px">Type: {{product.type}}</p>
          <p style="margin: 10px">Description: {{product.desc}}</p>
          <fieldset>
            <button (click)="deleteProduct(product._id)" type="submit" class="btn btn-danger" style="margin-left: 10px">Delete Product</button>
          </fieldset>
        </form>
      </div>
    </div>
  </div>
</div>